<div class="container">
  <div class="row">
    <div class="jumbotron" id="about-header">
       <div class="container">
          <h1>About our company</h1>
       </div>
    </div>
  </div>
  <div class="row" id="about">
    <div class="col-lg-6">
      <p>Our CEO, Marcela Alvarez Calderon, created Miles4Dummies after spending years travelling, researching and analyzing Mileage programs, their upsides and their tricks. Using the right mix of technology and savoir-faire she has saved thousands of dollars, travelled the world and advised numerous travellers in the art of 'travel hacking'. She created Miles4Dummies to scout the best deals, advise smart adventurers, find win-win Mile scenarios and give clients a "one stop shop" for all their Miles needs.</p><br>
      <p>Marcela decided to turn her hobby and passion into a full time consultancy after organizing everything from pro bono expeditions in the Amazonian jungles to high luxury ski vacations in the Alps. She travelled to every corner of the world, from Siberia to Ushuaia, amassing a diverse network of partners and alliances allowing her to find the best deals at the blink of an eye.</p><br>
      <p>With a career ranging from Kellog's Foundation ambassador in Central America to consulting for AVINA on water preservation around the globe, she has been racking miles since before she can even remember. Get in touch with us and let Marcela do her magic.</p>
    </div>
    <div class="col-lg-6">
      <%= image_tag('marcela.png', :class => "img-responsive") %>
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row" id="call-to-action">
    <div class="col-lg-12">
      <h1 class="text-center">Discover the potential behind your travel Miles.</h1>
      <%= button_to "Get started", new_traveller_path, method: :get, class: "btn btn-primary btn-lg" %>
    </div>
  </div>
</div>