<div class="container">
  <div class="row">
    <div class="jumbotron" id="faq-header">
       <div class="container">
          <h1>Frequently Asked Questions</h1>
       </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <p id="question">1. Why choose Miles4Dummies?</p>
      <p id="answer">The quick answer...because we make your travelling feel like a walk in the park. Booking free seats with frequent flyer miles is more difficult than ever as airlines have further complicated the rules and fewer seats are available. Hotels are popping up at a never before seen rate, all with different programs and different rewards. Miles4Dummies has the network, the experience, the knowledge and the resources to advise you in the art of travel hacking.</p>
      <p id="question">2. Are you a travel agency?</p>
      <p id="answer">We are not. But that doesn't mean we can't book your around the world tickets and get you the hotel room of your deals. We specialise in travel miles consulting but we are fully capable of taking care of all your travel needs.</p>
      <p id="question">3. What services do you offer?</p>
      <p id="answer">If you have the Miles and the desire to explore we have the magic lamp to grant your wishes. We will get you award tickets, upgrade your travel accomodations, optimise your airfare, arrange the ideal redemption for your Miles, book your entire vacation, teach you how to travel the world for free and more.</p>
      <p id="question">4. Is it better to redeem or to sell my Miles?</p>
      <p id="answer">In order to know that we would have to study your personal needs and based on that we could advise you on what would be the best strategy regarding your Miles. By filling out our "Request a Quote" form we will get in touch with you and proceed to find out what is the best scenario for you.</p>
      <p id="question">5. What is the best plan for me?</p>
      <p id="answer">It all depends on your needs and desires. If you want to book your next trip and learn how to earn more Miles with just a few changes in your habits and your loyalty programs, then the Adventurer is the best option for you. But if you want to conquer the Miles world, redeem like a champion and learn how to earn thousands of miles without even breaking a sweat, then the Globetrotter is the plan for you. We have a plan suited for every traveller.</p>
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row" id="call-to-action">
    <div class="col-lg-12">
      <h1 class="text-center">Discover the potential behind your travel Miles.</h1>
      <p><%= button_to "Get started", new_traveller_path, method: :get, class: "btn btn-primary btn-lg" %></p>
    </div>
  </div>
</div>