<div class="container">
  <div class="row">
    <div class="jumbotron" id="sell-header">
       <div class="container">
          <h1>Using your Miles should be easy</h1>
       </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <p>You’ve worked hard earning those miles, let us work harder on the redemption. We charge a flat $125 per person for the first two travelers and then $100 per person for each additional traveler. The price is fully inclusive, no matter how difficult or complex the booking may be (besides RTW trips*) and includes advice and assistance with any required mileage transfers.</p>

      <p>Our team will find the best itinerary at the lowest mileage rate and redemption price. We will provide you enough information to make a decision on the flights (# of stops, time of day, etc.) without providing exact flight details. We will not book any flights until we receive your acceptance and no payment is required unless you are completely satisfied with the proposed itinerary. Post payment, exact flight details are shared and a refund will no longer be possible.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <h2>Miles Calculator</h2>
      <p>Enter your miles (ie 50000)</p>
      <p>Enter your rate in cents (ie 1.2)</p>
      <p><a class="btn btn-primary" role="button">Calculate</a></p>
    </div>
    <div class="col-lg-6">
      <img class="featurette-image img-circle img-responsive pull-right" src="http://placehold.it/500x500">
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row">
    <div class="col-lg-6">
      <img class="featurette-image img-circle img-responsive pull-left" src="http://placehold.it/500x500">
    </div>
    <div class="col-lg-6">
      <h2>Get the best rate</h2>
      <p>Go ahead check. Check how much cash you can get for your Miles. We can advise you on the Miles market, the value of a Mile and whether it's better to enjoy them than to sell them. Fill out our form and open your horizons NOW.</p>
      <p><a class="btn btn-primary" role="button">Get started</a></p>
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row">
    <div class="col-lg-6">
      <h2>Miles Calculator</h2>
      <p>Enter your miles (ie 50000)</p>
      <p>Enter your rate in cents (ie 1.2)</p>
      <p><a class="btn btn-primary" role="button">Calculate</a></p>
    </div>
    <div class="col-lg-6">
      <img class="featurette-image img-circle img-responsive pull-right" src="http://placehold.it/500x500">
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row" id="homepage-partners">
    <div class="row">
      <div class="col-lg-3 text-center">
        <img src="/assets/delta.jpg" class="img-responsive" style="padding-top:3em;">
      </div>
      <div class="col-lg-3 text-center">
        <img src="/assets/copa.png" class="img-responsive" style="padding-top:3em;">
      </div>
      <div class="col-lg-3 text-center">
        <img src="/assets/klm.png" class="img-responsive" style="padding-bottom:2em;">
      </div>
      <div class="col-lg-3 text-center">
        <img src="/assets/american.png" class="img-responsive" style="padding-bottom:2em;">
      </div>
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row" id="call-to-action">
    <div class="col-lg-12">
      <h1 class="text-center">Discover the potential behind your travel Miles.</h1>
      <p><%= button_to "Get started", new_traveller_path, method: :get, class: "btn btn-primary btn-lg" %></p>
    </div>
  </div>
</div>