<div class="container">
  <div class="row">
    <div class="jumbotron" id="homepage-header">
       <div class="container">
          <h1>Start enjoying your travel Miles</h1>
          <h2>Get advise from the world's top travel miles consultant</h2>
          <p><%= button_to "Get started", new_traveller_path, method: :get, class: "btn btn-primary btn-lg", form_class: "header-form-button" %></p>
       </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-4 text-center" id="homepage-features">
      <i class="fa fa-info-circle fa-4x"></i>
      <h2>Learn about Miles</h2>
      <p>Join us. Read articles, watch videos, get the latest offers and learn everything about your Miles.</p>
    </div>
    <div class="col-lg-4 text-center" id="homepage-features">
      <i class="fa fa-plane fa-4x"></i>
      <h2>Earn more Miles</h2>
      <p>Optimise your travel and spending habits. Use the best loyalty programs. Travel smartly.</p>
    </div>
    <div class="col-lg-4 text-center" id="homepage-features">
      <i class="fa fa-dollar fa-4x"></i>
      <h2>Redeem your Miles</h2>
      <p>Find the latest offers and rewards that match your Miles, your needs and your desires.</p>
    </div>
  </div>

  <div class="row" id="homepage-services">
    <div class="col-lg-12 text-center">
      <h1>What is Miles4Dummies?</h1>
      <p id="homepage-services-bio">Our CEO, Marcela Alvarez Calderon, created Miles4Dummies after spending years travelling, researching and analyzing Mileage programs, their upsides and their tricks. Using the right mix of technology and savoir-faire she has saved thousands of dollars, travelled the world and advised numerous travellers in the art of 'travel hacking'. She created Miles4Dummies to scout the best deals, advise smart adventurers, find win-win Mile scenarios and give clients a "one stop shop" for all their Miles needs. Here are some of our services.</p>
    </div>
    <div class="col-lg-4 text-center" id="homepage-services-block">
      <i class="fa fa-phone fa-4x"></i>
      <h2>Premium Consulting</h2>
      <p>Our #1 service. We get you on the phone, jot down the details and become your personal Miles consultant.</p>
    </div>
    <div class="col-lg-4 text-center" id="homepage-services-block">
      <i class="fa fa-trophy fa-4x"></i>
      <h2>Best of the Month</h2>
      <p>Find the latest offers and rewards that match to your Miles, your needs and your desires.</p>
    </div>
    <div class="col-lg-4 text-center" id="homepage-services-block">
      <i class="fa fa-calculator fa-4x"></i>
      <h2>Miles Calculator</h2>
      <p>Use our mile exchange calculator to get a clear idea if it's better for you to sell all those accumulated miles. </p>
    </div>
    <div class="col-lg-4 text-center" id="homepage-services-block">
      <i class="fa fa-globe fa-4x"></i>
      <h2>Smart Travel Network</h2>
      <p>Join us. Read articles, watch videos, get the latest offers and learn everything about your Miles.</p>
    </div>
    <div class="col-lg-4 text-center" id="homepage-services-block">
      <i class="fa fa-group fa-4x"></i>
      <h2>Certified Partners</h2>
      <p>Get access to all our travel partners and their latest offers all tailored to your every need.</p>
    </div>
    <div class="col-lg-4 text-center" id="homepage-services-block">
      <i class="fa fa-flash fa-4x"></i>
      <h2>Flash Offers and Deals</h2>
      <p>We don't want you to miss out on anything. Join us and you will get instant alerts on the hottest deals.</p>
    </div>
  </div>
<!--   <div class="row" id="homepage-testimonials">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Our clients love us</h1>
      </div>
      <div class="col-md-12" data-wow-delay="5s">
        <div class="carousel slide" data-ride="carousel" id="quote-carousel">

          <div class="carousel-inner text-center">

            <div class="item active">
              <blockquote>
                <div class="row">
                  <div class="col-sm-8 col-sm-offset-2">
                    <p><i class="fa fa-quote-left"></i> "We were planning our honeymoon and had more than 200,000 miles accumulated between us. Marcela helped us plan the trip a lifetime. " <i class="fa fa-quote-right"></i></p>
                    <p style="font-weight:900; margin-top:1em;">John Mendez, CEO Manufacturing & Co.</p>
                  </div>
                </div>
              </blockquote>
            </div>
            <div class="item">
              <blockquote>
                <div class="row">
                  <div class="col-sm-8 col-sm-offset-2">
                    <p><i class="fa fa-quote-left"></i> "While working at a multinational I racked up more than 1.5 million miles. After deciding to cash in I got Miles4Dummies on the phone to start finding the ideal price." <i class="fa fa-quote-right"></i></p>
                    <p style="font-weight:900; margin-top:1em;">Pedro Heilbron, President COPA Airlines</p>
                  </div>
                </div>
              </blockquote>
            </div>
            <div class="item">
              <blockquote>
                <div class="row">
                  <div class="col-sm-8 col-sm-offset-2">
                    <p><i class="fa fa-quote-left"></i> "I had been wanting to go to NYC and stay at the Plaza Hotel (just like Home Alone). Marcela made it happen with just a few calls here and a few miles there." <i class="fa fa-quote-right"></i></p>
                    <p style="font-weight:900; margin-top:1em;">Andrea Sanchez, Designer</p>
                  </div>
                </div>
              </blockquote>
            </div>
            <div class="item">
              <blockquote>
                <div class="row">
                  <div class="col-sm-8 col-sm-offset-2">
                    <p><i class="fa fa-quote-left"></i> "It's hard to imagine what you can do with a solid mileage program and a few experts advising you. Round the world trip in 13 months. Thank you Miles4Dummies." <i class="fa fa-quote-right"></i></p>
                    <p style="font-weight:900; margin-top:1em;">Jack Andrews, Lawyer</p>
                  </div>
                </div>
              </blockquote>
            </div>
          </div>

          <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
          <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
        </div>
      </div>
    </div>

  </div> -->
  <div class="row" id="call-to-action">
    <div class="col-lg-12">
      <h1 class="text-center">Discover the potential behind your travel Miles.</h1>
      <p><%= button_to "Get started", new_traveller_path, method: :get, class: "btn btn-primary btn-lg" %></p>
    </div>
  </div>
</div>
<a name="testimonials"></a>