<div class="container">
  <div class="row">
    <div class="jumbotron" id="redeem-header">
       <div class="container">
          <h1>Pricing for every type of customer</h1>
       </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <p>We created this company because we valued smart and simple travelling. And we want to share that with you. In order to cater to a very diverse audience we created three plans that encapsulate the essence of travel hacking from a basic degree to a full on mastery of the domain. While some of you might just want to start earning miles more efficiently or book your next trip with all those hard earned miles, others may want to learn the steps more methodically in order to apply that knowledge in their future travel plans. Whatever your level of expertise or your learning preference, we will create a customized plan just for you.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 text-center" id="pricing-box">
      <h2>The Adventurer</h2>
      <hr>
      <p>Our starter package. We will analyze your travel habits and your favorite spending patterns to get you earning thousands of Miles at the blink of an eye. You will learn how to optimise your Mile accumulation so you can start planning your next trip.</p>
      <hr>
      <h1>$350</h1>
      <hr>
      <p>* One session (1 hour total) of one-on-one consulting</p>
      <p>* Credit card recommendations</p>
      <p>* Airline and hotel loyalty programs</p>
      <p>* Strategic spending plan</p>
      <p>* Detailed Mile accumulation brief</p>
    </div>
    <div class="col-lg-4 text-center" id="pricing-box">
      <h2>The Traveller</h2>
      <hr>
      <p>Our most popular package. Not only will we analyze your habits and teach you how to earn more Miles, but we will show you how to redeem your Miles in the most efficient way possible. The result will be more travelling with less Miles spent.</p>
      <hr>
      <h1>$600</h1>
      <hr>
      <p>* Two sessions (3 hours total) of one-on-one consulting</p>
      <p>* Credit card recommendations</p>
      <p>* Airline and hotel loyalty programs</p>
      <p>* Strategic spending plan</p>
      <p>* Detailed Mile accumulation brief</p>
      <p>* Customized Mile redemption strategy</p>
    </div>
    <div class="col-lg-4 text-center" id="pricing-box">
      <h2>The Globetrotter</h2>
      <hr>
      <p>Our all star package. For those who want to go from novice to travel hacker, this is your chance. We will teach you everything we know, from earning to redeeming to selling your Miles, so that you can become autonomous and plan all your travels.</p>
      <hr>
      <h1>$950</h1>
      <hr>
      <p>* Four sessions (6 hours total) of one-on-one consulting</p>
      <p>* Credit card recommendations</p>
      <p>* Airline and hotel loyalty programs</p>
      <p>* Strategic spending plan</p>
      <p>* Detailed Mile accumulation brief</p>
      <p>* Customized Mile redemption strategy</p>
      <p>* Travel hacking ebook</p>
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row" id="call-to-action">
    <div class="col-lg-12">
      <h1 class="text-center">Discover the potential behind your travel Miles.</h1>
      <p><%= button_to "Get started", new_traveller_path, method: :get, class: "btn btn-primary btn-lg" %></p>
    </div>
  </div>
</div>