<div class="container">
  <div class="row">
    <div class="jumbotron" id="redeem-header">
       <div class="container">
          <h1>Pricing for every type of customer</h1>
       </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <p>You’ve worked hard earning those miles, let us work harder on the redemption. We charge a flat $125 per person for the first two travelers and then $100 per person for each additional traveler. The price is fully inclusive, no matter how difficult or complex the booking may be (besides RTW trips*) and includes advice and assistance with any required mileage transfers.</p>

      <p>Our team will find the best itinerary at the lowest mileage rate and redemption price. We will provide you enough information to make a decision on the flights (# of stops, time of day, etc.) without providing exact flight details. We will not book any flights until we receive your acceptance and no payment is required unless you are completely satisfied with the proposed itinerary. Post payment, exact flight details are shared and a refund will no longer be possible.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 text-center" id="pricing-box">
      <h2>The Adventurer</h2>
      <hr>
      <p>Go ahead check. Check how much cash you can get for your Miles. We can advise you on the Miles market, the value of a Mile and whether it's better to enjoy them than to sell them. Fill out our form and open your horizons NOW.</p>
      <hr>
      <h1>$350</h1>
      <hr>
      <p>* 1 hour of one-on-one consulting</p>
      <p>* Tips and tricks on how to get the best offers</p>
    </div>
    <div class="col-lg-4 text-center" id="pricing-box">
      <h2>The Traveller</h2>
      <hr>
      <p>Go ahead check. Check how much cash you can get for your Miles. We can advise you on the Miles market, the value of a Mile and whether it's better to enjoy them than to sell them. Fill out our form and open your horizons NOW.</p>
      <hr>
      <h1>$600</h1>
      <hr>
      <p>* 1 hour of one-on-one consulting</p>
      <p>* Tips and tricks on how to get the best offers</p>
    </div>
    <div class="col-lg-4 text-center" id="pricing-box">
      <h2>The Globetrotter</h2>
      <hr>
      <p>Go ahead check. Check how much cash you can get for your Miles. We can advise you on the Miles market, the value of a Mile and whether it's better to enjoy them than to sell them. Fill out our form and open your horizons NOW.</p>
      <hr>
      <h1>$950</h1>
      <hr>
      <p>* 1 hour of one-on-one consulting</p>
      <p>* Tips and tricks on how to get the best offers</p>
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row" id="call-to-action">
    <div class="col-lg-12">
      <h1 class="text-center">Discover the potential behind your travel Miles.</h1>
      <p><%= button_to "Get started", new_traveller_path, method: :get, class: "btn btn-primary btn-lg" %></p>
    </div>
  </div>
</div>