<footer>
  <div class="container">    
    <div class="row">
        <div class="col-lg-12">
          <div class="col-lg-4">
            <ul class="unstyled">
              <li><a href="/blog">Blog</a></li>
              <li><a href="/about_us">About us</a></li>
              <li><a href="/how_it_works">How it works</a></li>
              <li><a href="/pricing">Pricing</a></li>
              <li><a href="/faq">FAQ</a></li>
            </ul>
          </div>
          <div class="col-lg-4">
            <ul class="unstyled">
            </ul>
          </div>
          <div class="col-lg-4">
            <p><i class="fa fa-facebook fa-3x"></i><i class="fa fa-twitter fa-3x"></i><i class="fa fa-instagram fa-3x"></i></p>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-lg-12">
          <div class="col-lg-6">
            <a href="#">Terms of Service</a>    
          </div>
          <div class="col-lg-6">
            <p class="muted pull-right">© 2016 Miles4Dummies. All rights reserved</p>
          </div>
        </div>
      </div>
    </div>
</footer>